
@{
    ViewBag.Title = "Create";
}

<form method="post" action="@Url.Action("Create")" class="form-horizontal" id="checkout">
	<fieldset>
		<legend>Purchase Details</legend>
		<div class="form-group">
			<label class="control-label col-sm-3">Amount</label>
			<div class="col-sm-9">
				<div class="input-group">
					<span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
					<input type="text" name="amount" class="form-control" />
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">Name on Card</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" data-braintree-name="cardholder_name" placeholder="Name on Card" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">Credit Card Number</label>
			<div class="col-sm-9">
				<div class="row">
					<div class="col-sm-10">
						<input type="text" class="form-control" data-braintree-name="number" placeholder="Credit Card Number" />
					</div>
					<div class="col-sm-2">
						<input type="text" class="form-control" data-braintree-name="cvv" placeholder="CVV2" />
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">Expiration Date</label>
			<div class="col-sm-9">
				<div class="row">
					<div class="col-sm-6">
						<select data-braintree-name="expiration_month" class="form-control">
							<option>-- Select Month --</option>
							<option value="1">1 - January</option>
							<option value="2">2 - February</option>
							<option value="3">3 - March</option>
							<option value="4">4 - April</option>
							<option value="5">5 - May</option>
							<option value="6">6 - June</option>
							<option value="7">7 - July</option>
							<option value="8">8 - August</option>
							<option value="9">9 - September</option>
							<option value="10">10 - October</option>
							<option value="11">11 - November</option>
							<option value="12">12 - December</option>
						</select>
					</div>
					<div class="col-sm-6">
						<select data-braintree-name="expiration_year" class="form-control">
							<option>-- Select Year --</option>
							<option value="2015">2015</option>
							<option value="2016">2016</option>
							<option value="2017">2017</option>
							<option value="2018">2018</option>
							<option value="2019">2019</option>
							<option value="2020">2020</option>
							<option value="2021">2021</option>
							<option value="2022">2022</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">Zip / Postal Code</label>
			<div class="col-sm-3">
				<input type="text" data-braintree-name="postal_code" class="form-control" />
			</div>
		</div>
	</fieldset>
	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-3">
			<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Complete Purchase</button>
		</div>
	</div>
</form>

@section scripts {
	<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
	<script>
		$(function () {
			braintree.setup('@ViewBag.Token', 'custom', { id: 'checkout' });
		});
	</script>
}